<?xml version="1.0" encoding="UTF-8"?>
<!-- 约束 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd 
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd ">
	<!-- 导入propertis文件 -->
	<context:property-placeholder location="classpath:db.properties"></context:property-placeholder>
	<!-- 自动扫描包 -->
	<context:component-scan
		base-package="com.project.dao,com.project.service,com.project.util"></context:component-scan>
	<!-- Spring管理Hibernate第一步:配置数据源 -->
	<!-- 使用c3p0连接池的配置 -->
	<bean id="dataSourceC3p0" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="jdbcUrl" value="${url}"></property>
		<property name="user" value="${user}"></property>
		<property name="password" value="${password}"></property>
		<property name="driverClass" value="${driver}"></property>

		<property name="minPoolSize" value="0" />
		<property name="maxPoolSize" value="50" />
		<property name="maxIdleTime" value="1800" />
		<!-- 当连接池耗尽时候，一次获得连接数 -->
		<property name="acquireIncrement" value="5" />
		<property name="maxStatements" value="0" />
		<!-- 当连接池连接耗尽时，客户端getConnection(),所等待的时间 -->
		<property name="checkoutTimeout" value="20000" />
		<property name="idleConnectionTestPeriod" value="120" />
		<!-- 当连接失效时，获得连接的次数，0为无限次（重连） -->
		<property name="acquireRetryAttempts" value="30" />
	</bean>
	<!-- Spring管理Hibernate第二步:配置sessionFacoty -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSourceC3p0"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
				<prop key="hibernate.temp.use_jdbc_metadata_defaults">${hibernate.temp.use_jdbc_metadata_defaults}</prop>
			</props>
		</property>
		<property name="packagesToScan" value="com.project.pojo"></property>
	</bean>
	<!-- 数据库事务第一步:配置数据库管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 数据库事务第二步:配置事务增强 -->
	<tx:advice id="transactionAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="regist" rollback-for="Execption" />
			<tx:method name="login" read-only="true" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
	<!-- 数据库事务第三步:配置切点 -->
	<aop:config>
		<aop:pointcut expression="execution(* com.project.service..*.*(..))"
			id="transactionPoint" />
		<aop:advisor advice-ref="transactionAdvice" pointcut-ref="transactionPoint" />
	</aop:config>

	<bean id="jmsFactory" class="org.apache.activemq.pool.PooledConnectionFactory"
          destroy-method="stop">
        <property name="connectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL">
                    <value>tcp://192.168.1.67:61616</value>
                </property>
                <property name="userName" value="u001"></property>
                <property name="password" value="123"></property>
            </bean>
        </property>
        <property name="maxConnections" value="100"></property>
    </bean>

    <!--使用缓存可以提升效率-->
    <bean id="cachingConnectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
        <property name="targetConnectionFactory" ref="jmsFactory"/>
        <property name="sessionCacheSize" value="1"/>
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="cachingConnectionFactory"/>
        <property name="messageConverter">
            <bean class="org.springframework.jms.support.converter.SimpleMessageConverter"/>
        </property>
    </bean>

    <!--测试Queue,队列的名字是spring-queue-->
    <bean id="destinationQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg name="name" value="report_queue"/>
    </bean>

</beans>